.animal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .animal-list .filter-animals {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .animal-card {
    flex: 1 1 calc(25% - 40px); /* Ajusta el tamaño de las tarjetas */
    max-width: 200px; /* Ajusta el tamaño máximo de las tarjetas */
    box-sizing: border-box;
  }
  
  @media (max-width: 1200px) {
    .animal-card {
      flex: 1 1 calc(33.33% - 40px);
    }
  }
  
  @media (max-width: 768px) {
    .animal-card {
      flex: 1 1 calc(50% - 40px);
    }
  }
  
  @media (max-width: 480px) {
    .animal-card {
      flex: 1 1 calc(100% - 40px);
    }
  }
  