body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #EAEFD3;
  color: #27233A;
  overflow-x: hidden;
}

.homePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.homePage-header {
  background-color: #27233A;
  color: #EAEFD3;
  text-align: center;
  padding: 20px;
  flex-shrink: 0;
}

.homePage-header h1 {
  margin: 0;
  font-size: 2rem;
}

.homePage-carousel {
  padding-top: 30px;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  position: relative;
}

.homePage-carousel div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage-carousel img {
  width: auto;
  height: 100%;
  object-fit: contain;
  display: block;
}

.homePage-content {
  flex: 1;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homePage-subtitle {
  font-size: 1.5rem;
  color: #505168;
  margin-bottom: 20px;
}

.homePage-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.homePage-button {
  background-color: #DCC48E;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 2rem;
  color: #27233A;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.homePage-button:hover {
  background-color: #B3C0A4;
  transform: scale(1.1);
}

.homePage-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #505168;
}


.animals-page {
  background-color: #EAEFD3;
  color: #27233A;
  font-family: Arial, sans-serif;
  padding: 20px;
  min-height: 100vh;
}

.animals-page h2 {
  font-size: 2rem;
  text-align: center;
  color: #505168;
  margin-bottom: 20px;
  font-weight: bold;
}

.animal-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
/*AnimalDetail*/


.adopt-page {
  background: #EAEFD3;
  color: #27233A;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adopt-page h2 {
  color: #505168;
  margin-bottom: 10px;
  text-align: center;
}

.adopt-page p {
  color: #505168;
  margin: 5px 0;
  text-align: center;
}

.contact-form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input, .form-group select {
  background: #B3C0A4;
  border: 1px solid #505168;
  color: #27233A;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #B3C0A4 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M7 10l3 3 3-3H7z" fill="%2327233A"/></svg>') no-repeat right 10px center;
  background-size: 20px;
}

.form-group select:focus {
  outline: none;
  border-color: #DCC48E;
}

.contact-form button {
  background: #DCC48E;
  color: #27233A;
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.contact-form button:hover {
  background: #B3C0A4;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #505168;
}


.cart-page {
  padding: 20px;
  background-color: #EAEFD3;
}

.cart-page h2 {
  color: #27233A;
  margin-bottom: 20px;
}

.cart-page p {
  color: #505168;
}

.cart-page ul {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #B3C0A4;
  border-radius: 8px;
  background-color: #fff;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-details h3 {
  color: #27233A;
  margin: 0;
}

.cart-item-details p {
  color: #505168;
  margin: 5px 0;
}

.cart-item-details .price {
  color: #DCC48E;
  font-weight: bold;
  margin: 10px 0;
}

.remove-button {
  background-color: #DCC48E;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #27233A;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #B3C0A4;
}

.checkout-button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #DCC48E;
  border: none;
  border-radius: 4px;
  color: #27233A;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.checkout-button:hover {
  background-color: #B3C0A4;
}


.favorites-page {
  padding: 20px;
  background-color: #EAEFD3;
}

.favorites-page h2 {
  color: #27233A;
  margin-bottom: 20px;
}

.favorites-page p {
  color: #505168;
}

.animal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.animal-card {
  width: 250px;
  background-color: #fff;
  border: 1px solid #B3C0A4;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.animal-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.animal-card h3 {
  color: #27233A;
  margin: 10px;
}

.animal-card p {
  color: #505168;
  margin: 10px;
}

.animal-card .price {
  color: #DCC48E;
  font-weight: bold;
  margin: 10px;
}

.animal-card .shop-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #DCC48E;
  color: #27233A;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.animal-card .shop-icon:hover {
  background-color: #B3C0A4;
}

.animal-card button {
  width: 100%;
  padding: 10px;
  background-color: #DCC48E;
  border: none;
  color: #27233A;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.animal-card button:hover {
  background-color: #B3C0A4;
} 